<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DatabaseWrapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DatabaseWrapper.Properties.Settings>
            <setting name="DatabaseUsed" serializeAs="String">
                <!-- Possible values: MySql, MSSQL -->
                <value>MySql</value>
            </setting>
            <setting name="DatabaseConnectionString" serializeAs="String">
                <value>Server=;Uid=;Pwd=;Database=;SslMode=none;</value>
            </setting>
        </DatabaseWrapper.Properties.Settings>
    </userSettings>
</configuration>